@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* for everyone */
* {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  background: #ff900e;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 17px;
  border: 0;
  cursor: pointer;
}

header {
  background: rgba(255, 144.05, 13.81, 0.1);
  padding: 20px 120px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #131313;
  font-size: 2rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav li {
  color: #131313;
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner styles */
.banner-content {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}
.banner-header {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.banner-p {
  color: #727272;
  font-weight: 400;
}
.banner-img {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 30px;
}

/* main section */
main {
  max-width: 1440px;
  margin: 0 auto;
}

.teams-container {
  display: flex;
  align-items: center;
  padding: 70px;
  /* align-items: center; */
}
.teams-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}
.ig {
  width: 250px;
  height: 250px;
}
.teams-content {
  padding-left: 120px;
  padding-right: 100px;
}

.t1 {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}
.t2 {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

.t3 {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}
.teams-p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}

/* media query */

/* small devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  .teams-container {
    padding: 20px;
    flex-direction: column;
  }

  .teams-content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .teams-img {
    grid-template-columns: repeat(1, 1fr);
  }
  .ig {
    width: 300px;
    height: 300px;
  }
}
/* medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
  }
  .teams-container {
    flex-direction: column;
  }
  .teams-content {
    padding-top: 30px;
  }
}
